.terraform/
.terraform.lock.hcl
Day3/.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
Day4/.terraform
Day5/.terraform
Day6/.terraform
Day7/.terraform
Day8/scenario1/.terraform
Day8/scenario2/.terraform